{% load static %}
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image:url({% static "thank.jpg" %});
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <hr class="w3-border-grey" style="margin:auto;width:40%">
  </div>
</div>
<div class="bgimg w3-display-middle w3-padding w3-col  l6 m8">
    <div class="w3-container w3-red">
      <h2><i class="fa fa-check-square w3-margin-right"></i>Election Setting</h2>
    </div>
	<br><br><br>
	<br><br><br>
	<form action= "http://127.0.0.1:8000/adminendelection" method="put">
	  <div class="w3-block">
	    <input type="submit" value="End Election" class="w3-dark-grey w3-threequarter w3-large w3-padding w3-hover-green w3-hover-shadow">
	  </div>
	</form>
	<br><br><br>
	<form action= "http://127.0.0.1:8000/adminlogout" method="put">
	  
	  <div class="w3-block">

	    <input type="submit" value="Logout" class="w3-dark-grey w3-threequarter w3-large w3-padding w3-hover-green w3-hover-shadow">
	  </div>
	</form>


  </div>
</body>
</html>
