{% load static %}
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
  <a href="#" class="w3-bar-item w3-button w3-red w3-mobile"><i class="fa fa-th-list w3-margin-right"></i>e-Elect</a>
</div>
<!-- Header -->
<header class="w3-display-container w3-content">
  <img class="w3-image" src="{% static "otp.jpeg" %}" alt="The Hotel" width="1200" height="750">
  <div class="w3-display-middle w3-padding w3-col l6 m8">
    <div class="w3-container w3-red">
      <h2><i class="fa fa-check-square w3-margin-right"></i>Verify OTP</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <form action= "http://127.0.0.1:8000/otp_verify" method="put">
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-half w3-margin-bottom">
            <label></i> Enter OTP</label>
            <input class="w3-input w3-border" type="text" placeholder="OTP" name="otp" required>
            </div>
        </div>
        <button class="w3-button w3-dark-grey" type="submit"> Verify</button>
      </form>
    </div>
  </div>
  <div class=" w3-display-container w3-animate-opacity w3-text-white">
  <div class="bgimg w3-padding w3-col">
    <div class="w3-container w3-red">
      <h2><i class="fa fa-check-square w3-margin-right"></i>For Demo Purpose only</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
        <div class="w3-row-padding">
          <div class="w3-margin-bottom">
            <h6 class="">OTP</h6>
            {% for i in dict1%}
            <h6 class="">{{i}}</h6>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>

</header>
</body>
</html>
