{% load static %}
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('{% static "thank.jpg" %}');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>

<div class="bgimg w3-animate-top w3-display-container w3-animate-opacity w3-text-white">
  <div class="bgimg w3-display-topmiddle w3-padding w3-col  l6 m8">
    <div class="w3-container w3-red">
      <h2><i class="fa fa-check-square w3-margin-right"></i>Vote successfully submitted</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
        <div class="w3-row-padding">
          <div class="w3-margin-bottom">
            <h3 class=" w3-animate-left">Thank You for your valuable Vote</h3>
          </div>
        </div>
    </div>
  </div>
</div>
<div class=" w3-display-container w3-animate-opacity w3-text-white">
  <div class="bgimg w3-padding w3-col">
    <div class="w3-container w3-red">
      <h2><i class="fa fa-check-square w3-margin-right"></i>For Demo Purpose only</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
        <div class="w3-row-padding">
          <div class="w3-margin-bottom">
            {% for i in dict2%}
            <font size="14">
          {{i.0}}:-
            </font>:
             <font size="12">
              {{i.1}}
            </font>
            <br>
            {% endfor %}
            <br>
            {% for i in dict1%}
            <h5 class="">{{i}}</h5>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>
</body>
</html>
